*{
	margin: 0px;
	padding: 0px;
	font-family: "Lucida Console", "Courier New", monospace;
	
}
.nav-item {
    font-size: 25px;
    margin-left: 130px;
}
.home {
    height: 600px;
    
    
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    background-size: 100% 100%;
}
header {
    text-align: center;
    justify-content: center;
    color:#ffffff;
}

.about {
    background: linear-gradient(to top, #33ccff 0%, #ff99cc 100%);
    height: 400px;
    text-align: center;
    justify-content: center;
    color:#ffffff;
}
.projects {
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    text-align: center;
    justify-content: center;
    color:#ffffff;
    
    
}
video {
   width: 248px;
   height: 350px;
  margin-top: -105px;
   
   
}
.contact-details {
    text-align: center;
    justify-content: center;
    color:#ffffff;
    height: 600px;
    background: linear-gradient(to top, #33ccff 0%, #ff99cc 100%);
}


footer {
    text-align: center;
    justify-content: center;
    color:#ffffff;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 500px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }